<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598565377166-uhjkljlci4v52628jvo2gavk3cr1656g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598565377166-uhjkljlci4v52628jvo2gavk3cr1656g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>598565377166-4vfu8l5sq7g1om4a34o1n6lo536ivef8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTJ60jxMw6BgK82ANUlLEKXHYcbuhqhUM</string>
	<key>GCM_SENDER_ID</key>
	<string>598565377166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>comssanchez20902.pulperiaj</string>
	<key>PROJECT_ID</key>
	<string>pulperia-j-782e8</string>
	<key>STORAGE_BUCKET</key>
	<string>pulperia-j-782e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598565377166:ios:3f10f4a7ffd310f2cc65df</string>
</dict>
</plist>